{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <div class="container">
  <h1>Welcome {{name }}</h1>
       <hr>
   <h4>Record New Delivery</h4>
    <div class="col-md-offset-7">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
        {% endfor %}
            {{ wtf.quick_form(form) }}
    </div>
        <br>
        <br>
   </div>
{% endblock %}

cow sheep horse tiger pig
dog: annoying
cat: adorable
rat: disgusting
coffee: sweet
sea: Beautiful

Yellow: amal
orange: umul bani
red: aisha aliyu
white: mama
green: baba

4 wednesday
